.demo-logo-vertical{
  height: 12px;
}
.forgotPassWord{
  margin: 8px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #6c3dd3;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-form-register{
  display: flex;
  justify-content: center;
}
.login-form-register span{
  padding-top: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: blue;
}
/* .ant-modal, .ant-modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
 }
 .ant-modal-title{
  margin: 0 auto;

 }
 .ant-modal-title{
  text-align: center;
 }
 .ant-modal-body {
  margin: 0 auto;
  width: 30%;
  height: 100%;
 } */